


<nav class="navbar fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mongo Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">View Saved Articles</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">Scrape Articles</button>
  </div>
</nav>

<header class="masterhead">
  <div class="row background">
<br>
<br>
<br>
<br>
<br>

<div class="text-center">
  
  <div>
    <h1>Mongo Scraper</h1>
    <h3>The NY Times</h3>
  </div>
</div>

<br>
<br>
<br>
  </div>

  </header>
<br>

<section class="container">


  <div class="panel  panel-primary">
      <div class="panel-heading">Articles</div>
      <div class="panel-body">Panel Content</div>
    </div>

</section>